:root {
  --color-primary: #f33;
  --color-secondary: #190000;
  --color-primary-dark: #E52D2E;
  --color-text: #221F20;
  --color-text-inverse: #fff;
  --color-navbar-bg: #f33;
  --color-navbar-bg-focus: #000;
  --color-navbar-text: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-size: 1.1em;
  text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1.2em;
  }
}

body {
  background-color: #f9f9f9; 
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  filter: brightness(180%);
}

code,
kbd,
pre {
  font-family: 'Roboto Mono', monospace;
}

b,
dt,
strong,
th {
  font-weight: 600;
}
