:root {
  --toolbar-height: 2.5rem;
}

.toolbar {
  align-items: flex-end;
  display: flex;
  font-size: 0.75rem;
  height: var(--toolbar-height);
  justify-content: flex-start;
  /* position: sticky;
  top: var(--navbar-height);
  z-index: 1; */
  padding: 1rem 0.5rem 0.25rem;
  max-width: 34rem;
}

@media (max-width: 1023px) {
  .toolbar {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
  }
}

@media (min-width: 800px) {
  .toolbar {
    max-width: 37rem;
  }
}

@media (min-width: 1000px) {
  .toolbar {
    max-width: 58rem;
    margin: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .toolbar {
    max-width: 58rem;
    padding: 1rem 2rem 0.25rem;
    margin: 0;
  }
}

.navigation-toggle {
  background: var(--color-primary) url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 55%;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16), 0 3px 16px rgba(0, 0, 0, 0.23);
  height: 2.25rem;
  padding: 0;
  width: 2.25rem;
  margin-right: -0.25rem;
  z-index: 2;
  position: relative;
  top: 1rem;
}

.navigation-toggle::-moz-focus-inner {
  border: none;
}

@media screen and (min-width: 1024px) {
  .navigation-toggle {
    display: none;
  }
}

.navigation-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 56.5%;
}

.home-link {
  background: url(../img/home-o.svg) no-repeat 50% 45%;
  background-size: 50%;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
}

.home-link:hover,
.home-link.is-current {
  background-image: url(../img/home.svg);
}

.edit-this-page {
  display: none;
}

@media screen and (min-width: 1024px) {
  .edit-this-page {
    display: block;
  }
}

.toolbar .edit-this-page a {
  color: rgba(0, 0, 0, 0.5);
}

.toolbar .edit-this-page a:hover {
  color: var(--color-primary);
  filter: none;
}
